@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply text-primary;
}

.bubbles span {
	position: relative;
	width: 30px;
	height: 30px;
	background: #8bff2d;
	opacity: 0.7;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #8bff2d44, 0 0 50px #8bff2d, 0 0 100px #8bff2d;
	animation: animate 15s linear infinite;
	animation-duration: calc(150s / var(--i));
}

.bubbles span:nth-child(even) {
	background: #f4ff2d;
	box-shadow: 0 0 0 10px #f4ff2d44, 0 0 50px #f4ff2d, 0 0 100px #f4ff2d;
}

@media (max-width: 640px) {
	.bubbles span {
		width: 10px;
		height: 10px;
		box-shadow: 0 0 0 4px #8bff2d44, 0 0 20px #8bff2d, 0 0 40px #8bff2d;
	}
	.bubbles span:nth-child(even) {
		box-shadow: 0 0 0 4px #f4ff2d44, 0 0 20px #f4ff2d, 0 0 40px #f4ff2d;
	}
}

@media (max-width: 768px) {
	.bubbles span {
		width: 20px;
		height: 20px;
		box-shadow: 0 0 0 6px #8bff2d44, 0 0 30px #8bff2d, 0 0 60px #8bff2d;
	}
	.bubbles span:nth-child(even) {
		box-shadow: 0 0 0 6px #f4ff2d44, 0 0 30px #f4ff2d, 0 0 60px #f4ff2d;
	}
}

@keyframes animate {
	0% {
		transform: translateY(100vh) scale(0);
	}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}
